#myCanvas {
    z-index: 1;
    position: relative;
    right: 185px;
    top: -650px;
}

#chosen-character, #gameplay-buttons, #chosen-enemy {
    position: relative;
    z-index: 2;
}

.ready, .fight, .countdownTime {
    color: white;
    font-size: 100px;
    font-weight: bold;
    position: relative;
    font-family: 'Bangers', cursive;
}

.ready, .fight {
    right: 20px;
    top: 135px;
}

.countdownTime {
    right: 60px;
    top: 140px;
    text-align: center;
}

body {
    background: black;
}

p, h1 {
    color: white;
}

.card-img-top {
    width: auto;
}